
  
  .card-img-top {
    height: 140px;
  }
  
.img-test{
    height: 60px;
    width: 60px;
}
.list-group{
    font-style: oblique;
  }
  .list-group-item{
    color:antiquewhite;
  }
  
  .img-size{
    height: 225px;
  }